body{
    background:#111;
    color:#eee;
    font-family:Arial;
    width:450px;
    padding:10px
}

#searchBox{
    width:430px;
    padding:8px;
    background:#222;
    color:#fff;
    border:1px solid #444
}

.row{
    display:flex;
    gap:4px;
    margin-top:6px
}

button{
    padding:6px;
    font-size:11px;
    background:#222;
    color:#fff;
    border:1px solid #444;
    cursor:pointer;
    flex:1
}

button:hover{
    background:#333
}

#vr{
    text-align:right;
    font-size:0.6em;
    opacity:0.7;
    font-weight:normal;
}

#titl{
    text-align:center;
    text-shadow:0 0 20px #00ffff, 0 0 40px #00ffff;
    animation: glow 2s ease-in-out infinite alternate;
}

h4{
    text-align:center;
    font-size:0.8em;
    opacity:0.9;
    font-weight:normal;
}

#urlList{
    margin-top:8px;
    background:#000;
    padding:6px;
    height:60px;
    overflow:auto;
    border:1px solid #333;
    font-size:11px;
    color:#6cf
}

.badge-support{
    display:flex;
    justify-content:flex-end;
    margin-top:5px;
}

@keyframes glow{
    from{
        text-shadow:0 0 10px #00ffff,0 0 20px #00ffff;
    }
    to{
        text-shadow:0 0 20px #00ffff,0 0 40px #00ffff;
    }
}
#degBtn, #radBtn{
    font-weight:bold;
}
